<div class="row justify-content-center">
  <div *ngIf="playerService.players.length" id="leaderboardcontainer" class="col-10">
    <h1 class="white">Classement</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"><h3 class="white">#</h3></th>
        <th scope="col"><h3 class="white">Joueur</h3></th>
        <th scope="col"><a style="cursor:pointer" (click)="setSortMethod(RATIO);"><h3 class="white">Ratio
          <span *ngIf="sortMethod==RATIO&&sortInverted"><i class="fas fa-sort-up"></i></span>
          <span *ngIf="sortMethod==RATIO&&!sortInverted"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortMethod!=RATIO"><i class="fas fa-sort"></i></span>
        </h3></a></th>
        <th scope="col"><a style="cursor:pointer" (click)="setSortMethod(WINS)"><h3 class="white">Victoires
          <span *ngIf="sortMethod==WINS&&sortInverted"><i class="fas fa-sort-up"></i></span>
          <span *ngIf="sortMethod==WINS&&!sortInverted"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortMethod!=WINS"><i class="fas fa-sort"></i></span>
        </h3></a></th>
        <th scope="col"><a style="cursor:pointer" (click)="setSortMethod(MEANSCORE)"><h3 class="white">Score moyen
          <span *ngIf="sortMethod==MEANSCORE&&sortInverted"><i class="fas fa-sort-up"></i></span>
          <span *ngIf="sortMethod==MEANSCORE&&!sortInverted"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortMethod!=MEANSCORE"><i class="fas fa-sort"></i></span>
        </h3></a></th>
      </tr>
      </thead>
      <tbody>
      <tr routerLink="/profile/{{player.username}}" class="classement" *ngFor="let player of players">
        <td class="align-middle"><h3><span class="badge badge-light">{{getRank(player)}}</span></h3></td>
        <td class="align-middle"><p class="white">{{player.username}}</p></td>
        <td class="align-middle"><p class="white">{{player.ratio}}</p></td>
        <td class="align-middle"><p class="white">{{player.wins}}</p></td>
        <td class="align-middle"><p class="white">{{player.meanScore}}</p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>