#leaderboardcontainer{
    background-color: rgba(0,0,0,0.5);
    margin: 15px;
    padding: 0px;
    border: 2px solid grey;
    border-radius: 10px;
}

h1{
    margin: 15px;
}

.table{
    margin: 0px;
}

th{
    border-top: none;
}

.classement{
    background-color: rgba(0,0,0,0);
    border-color:grey;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-delay: 0s;
}

.classement p{
    margin: 0px;
}

.classement:hover{
    background-color: rgba(50,50,50,0.75);
}

