body{
    background-image: url('./fondSite.png');
    background-size: cover;
    background-color:black;
    background-attachment: fixed;
    background-position: center;
}

.white{
    color: white;
}